.mat-form-field {
    margin-left: 10%;
    width: calc(80% - 5px);
    background-color: white;
    position: relative;
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
}
::ng-deep .mat-chip-list-wrapper{
    margin: 0 !important;
}

.chip-wrapper {
    margin-left: 10%;
    min-height: 80px;
    width: 80%;
}

