@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.table-container {
  width: 80%;
  height: 600px;
  margin: 20px auto auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.list-container {
  width: 45%;
  height: 100%;
  margin: 0px 25px 15px;
  vertical-align: top;
}

.table-header {
  text-align: left;
  background-color: #EDC7B7;
  width: 100%;
  height: 10%;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 0px 5px 5px;
}


.example-list {
  max-width: 100%;
  min-height: 100%;
  border: solid 1px #ccc;
  display: block;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  text-align: left;
  padding: 20px 10px;
  border: solid 1px #EEE2DC;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #EEE2DC;
  font-size: 14px;
  margin: 25px 25px 25px 25px;
}

.labels-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.no-flex-stretch {
  align-self: center;
}

.metric-label {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-button {
  background-color: #AC3B61;
}

.cross-btn {
  background-color: grey;
}