<div class="table-container">
    <div class="list-container">
        <div class="table-header">
            <h2>Available Metrics</h2>
            <button mat-icon-button matTooltip="Select all as a query" class="headerButton" (click)="addQuery()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
        <div #availableTableScrollbar style="height: 500px; overflow-y: auto" cdkScrollable>
            <div cdkDropList #availableList="cdkDropList" [cdkDropListData]="availableMetrics"
                [cdkDropListConnectedTo]="[selectedList]" class="example-list"
                (cdkDropListDropped)="drop($event, -1, availableMetricsPageSize * availableMetricsPageIndex)">
                <div class="example-box labels-container" *ngFor="let metric of itemsInRange(
                        availableMetricsPageIndex * availableMetricsPageSize, 
                        (availableMetricsPageIndex + 1) * availableMetricsPageSize, 
                        availableMetrics);"
                    cdkDrag>
                    <div *ngFor="let item of metric.getTextRepresentation()" class="metric-label">{{item}}</div>
                </div>
            </div>
        </div>
        <mat-paginator [length]="availableMetrics.length" [pageIndex]="availableMetricsPageIndex"
            [pageSize]="availableMetricsPageSize" [pageSizeOptions]="[5, 10, 25, 50]"
            (page)="changeAvailableMetricsPage($event)">
        </mat-paginator>

    </div>

    <span class="spacer"></span>

    <div class="list-container">
        <div class="table-header">
            <h2>Selected Metrics</h2>
            <button mat-icon-button matTooltip="Save metrics" class="headerButton" (click)="saveMetrics()">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Clear all" class="headerButton" (click)="clearSelected()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div #selectedTableScrollbar style="height: 500px; overflow-y: auto; position: relative" cdkScrollable>
            <div cdkDropList #selectedList="cdkDropList" [cdkDropListData]="selectedMetrics" class="example-list"
                (cdkDropListDropped)="drop($event, availableMetricsPageSize * availableMetricsPageIndex, selectedMetricsPageSize * selectedMetricsPageIndex)">
                <div class="example-box" *ngFor="let metric of itemsInRange(
                        selectedMetricsPageIndex * selectedMetricsPageSize,
                        (selectedMetricsPageIndex + 1) * selectedMetricsPageSize, 
                        selectedMetrics)"
                cdkDrag>
                    <div class="labels-container">
                        <div *ngFor="let item of metric.getTextRepresentation()" class="metric-label">{{item}}</div>
                    </div>
                    <div *ngIf="metric.hasConflict()" class="no-flex-stretch">
                        <span class="material-icons yellow-color">warning</span>
                    </div>
                    <button mat-icon-button (click)="unselectMetric(metric)" class="no-flex-stretch">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <mat-paginator [length]="selectedMetrics.length" [pageIndex]="selectedMetricsPageIndex"
            [pageSize]="selectedMetricsPageSize" [pageSizeOptions]="[5, 10, 25, 50]"
            (page)="changeSelectedMetricsPage($event)">
        </mat-paginator>
    </div>
</div>