<mat-toolbar>
    <mat-card class="name-card">
        <mat-card-title>HEPHAESTUS</mat-card-title>
    </mat-card>
    <mat-divider vertical></mat-divider>
    <a mat-raised-button routerLink="">Simple queries</a>
    <a mat-raised-button routerLink="advanced">Custom queries</a>
    <span class="spacer"></span>
    <button style="display: none;" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="loadPreviousMetrics()">Load previous choices</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
