.spacer {
  flex: 1 1 auto;
}

.mat-button-base {
  margin: 8px;
}

.mat-toolbar {
  background-color: #123C69;
}

.mat-button {
  color: #EEE2DC;
}

.mat-button:hover {
  background-color: #2f7ac5;
}

.mat-divider {
  height: 64px;
  border-right-color: white;
  margin-right: 8px;
}

.mat-icon-button {
  background-color: #EEE2DC;
}